[submodule "soundyrust"]
	path = soundyrust
	url = https://github.com/Dragon-Fox-Collective/soundyrust.git
[submodule "state-machine"]
	path = state-machine
	url = https://github.com/DragonFoxCollective/state-machine.git
[submodule "bevy-marching-cubes"]
	path = bevy-marching-cubes
	url = https://github.com/DragonFoxCollective/bevy-marching-cubes.git
